<footer class="text-light border-top border-light p-3 d-flex justify-content-between">
    <div>
        <p><b>Información:</b></p>
        <p><a class="text-white fw-bold"
                href="https://vandal.elespanol.com/juegos/android/miscrits-world-of-creatures/34037#p-71">Vandal</a></p>
        <p><a class="text-white fw-bold" href="https://miscrits.fandom.com/wiki/Miscrits_Wiki">Fandom</a></p>
        <p><a class="text-white fw-bold" href="https://miscrits.fandom.com/es/wiki/Wiki_Miscripedia">Fandom español</a>
        </p>
    </div>

    <div>
        <p><b>Imágenes:</b></p>
        <p><a class="text-white fw-bold" href="https://miscrits.fandom.com/wiki/Miscrits_Wiki">Fandom</a></p>
        <p><a class="text-white fw-bold" href="https://miscrits.fandom.com/es/wiki/Wiki_Miscripedia">Fandom español</a>
        </p>
        <p><a class="text-white fw-bold" href="https://www.raeshoemaker.com/miscrits">Rae Shoemaker</a></p>
        <p><a class="text-white fw-bold" href="https://firefly.adobe.com/">Adobe Friefly</a></p>
    </div>

    <div>
        <p><b>Jordi Marmi Martínez</b></p>
        <p><a class="text-white fw-bold"
                href="https://www.linkedin.com/in/jordi-marmi-mart%C3%ADnez-83a716262">Linkedin</a></p>
        <p><a class="text-white fw-bold" href="https://twitter.com/jordi_marm49345">Twitter</a></p>
        <p><a class="text-white fw-bold" href="https://github.com/JGedff">GitHub</a></p>
        <p><a class="text-white fw-bold" href="https://jordimakes.blogspot.com/">Blogspot</a></p>
    </div>
</footer>