<h2 class="fw-bold">Elementum</h2>

<div>
    <p>
        Los <b>Elementum</b> son unas antiguas criaturas que habitan en lo profundo de Miscrian, ellos son
        manifestaciones de la magia elemental del mundo.
    </p>

    <p>
        Cada uno está formado por uno de los <b>seis elementos</b>, su fuerza y debilidades varían en base ello.
    </p>

    <p>
        Bajo el control de <b>Apollo Nox</b>, tienen el único propósito de <b>absorber toda la magia de los
            Miscrits</b> y ofrecerlas a su amo, <b>poniendo en peligro la existencia de los mismos</b>.
    </p>

    <p>
        Cuando un Elementum es derrotado, los postes detrás del <b>Miscrian Scholar</b> empiezan a brillar, con
        la esencia del respectivo elemento emanando sobre ella.
    </p>

    <p>
        Una vez que todos han sido derrotados, el Miscrian Scholar <b>abrirá un portal</b> que permitirá al
        jugador dirigirse al lugar donde se encuentra Apollo Nox.
    </p>
</div>

{{> creaturesTable items=elementums}}