<h2 class="fw-bold">Información del videojuego</h2>

<div>
    <p>
        En este juego, los jugadores exploran un mundo virtual llamado <b>Miscria</b>, donde pueden
        <b>capturar</b>,
        <b>entrenar</b> y <b>luchar</b> con criaturas mágicas conocidas como <b>Miscrits</b>.
    </p>

    <p>El objetivo del juego es capturar y entrenar Miscrits para derrotar al malvado <b>Apollo Nox</b>.</p>

    <p>
        Miscrits ofrece una <b>experiencia de juego rica</b> y <b>envolvente</b> que combina <b>exploración</b>,
        <b>colección</b> y <b>estrategia de combate</b> en un <b>mundo mágico</b> poblado por <b>criaturas
            únicas</b>.
    </p>

    <p>
        Aunque el juego <b>ya no está disponible</b>, dejó una impresión duradera en sus jugadores por su
        <b>enfoque
            creativo</b> en el <b>género de colección de criaturas</b>.
    </p>
</div>

<div>
    <h3 class="fw-bold">Género y desarrollador</h3>

    <p>
        Miscrits es un juego de <b>rol de aventuras</b> que incorpora elementos de <b>estrategia</b> y
        <b>colección de monstruos</b>, similar en concepto a <b>Pokémon</b>.
    </p>

    <p>
        Fue desarrollado por <b>Broken Bulb Game Studios</b>, un estudio conocido por crear juegos
        <b>interactivos</b> y <b>socialmente integrados</b>.
    </p>
</div>

<div>
    <h3 class="fw-bold">Plataformas</h3>

    <p>
        Fue lanzado originalmente para plataformas <b>web</b> y <b>dispositivos móviles</b>, incluyendo
        <b>Facebook</b>, <b>iOS</b> y <b>Android</b>.
    </p>
</div>